/* =========================================
   HISTORIAL DE PEDIDOS
   ========================================= */

.pedido-header {
  margin-bottom: 30px;
}

.tabla-container {
  width: 100%;
  margin: 40px auto;
  overflow-x: auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.tabla-pedidos {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.95);
}

.tabla-pedidos thead {
  background: linear-gradient(135deg, #ffcc00, #ff9f43);
  color: #333;
}

.tabla-pedidos th,
.tabla-pedidos td {
  padding: 18px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.estado-pedido {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.preparacion {
  background-color: #f39c12;
}

.proceso {
  background-color: #2980b9;
}

.enviado {
  background-color: #27ae60;
}

@media screen and (max-width: 600px) {
  .contenido {
    width: 95%;
  }

  h1 {
    font-size: 2rem;
  }
}

/*=============================
      IMPACTO DEL PEDIDO
=============================*/

.impacto-pedido{
    width:90%;
    max-width:1000px;
    margin:50px auto;
    padding:35px;
    background:rgba(255,255,255,.92);
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}
.impacto-pedido h2{
    color:#4caf50;
    margin-bottom:30px;
}
.impacto-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}
.impacto-card{
    background:#fdf8e4;
    border-radius:18px;
    padding:25px;
    transition:.3s;
    border:2px solid #ffcb05;
}
.impacto-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}
.impacto-icono{
    font-size:45px;
    margin-bottom:15px;
}
.impacto-card h3{
    font-size:32px;
    color:#3b4cca;
    margin:10px 0;
}
.impacto-card p{
    color:#555;
    font-weight:600;
}
.mensaje-impacto{
    margin-top:35px;
    font-size:18px;
    color:#555;
    line-height:1.6;
}
/*=============================
      MODO OSCURO */
body.dark-mode .impacto-pedido{
    background:#2b2b2b;
    color:white;
}
body.dark-mode .impacto-card{
    background:#3a3a3a;
    border-color:#ffcb05;
}
body.dark-mode .impacto-card p{
    color:#f2f2f2;
}
body.dark-mode .mensaje-impacto{
    color:#f5f5f5;
}
